/* Just for Styleguide page itself
 */

#hero div.hero {
  background-image: url('../images/NSA-Faces-Website.jpg');
}

#icons i {
  display: inline-block;
  font-size: 30px;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
