<% if params['notice'] %>
<div class="wrapper">
  <div class="app-notice"><%= params['notice'] %></div>
</div>
<% end %>

<div class="wrapper">
  <div class="app-title">
    <h1>Your Harvests</h1>
    <a href="/datasources/"><i class="icon-plus"></i> New Dataset</a>
  </div>
  <% @datasets.each do |dataset| %>
  <% get_count(dataset) %>
    <h3><%= dataset.name %></h3>

    View:
    <a class="button info" href="/datasets/<%= dataset.id %>">Dataset</a><br>
    <a class="button info" href="http://localhost:3000">Looking Glass</a>
    <hr>

  <% end %>

</div>
