<div class="wrapper">
  <div class="app-title">
    <h1><span>Dataset:</span> Drones</h1>
    <a href="#"><i class="icon-modified"></i> Edit</a>
  </div>
</div>

<div class="wrapper">
  <%= @print_data %>
</div>
